<body id="about">

	<div id="about_div">
		
		<h1 class="about_h">Exoplanets</h1>
			<p>Temperature = Position on Screen (High to Low)</p>
			<p>Change in Color = Relative Length of Rotation Around a Star (1 Earth Year/Second)</p>
			<p>Size = Width of Dot (1 Earth Radius/Pixel)<p>

		<h1 class="about_h">Fireflies</h1>
			<p>Brightness = Opacity</p>
			<p>Size = Width of Dot (0.1 Kilometer/Pixel)</p>

	</div>


</body>