<body id="exoplanets">

    <svg height="800" width="1500">

  <ellipse cx="200" cy="712" rx="1" ry="1"
  style="fill:white;stroke:white;stroke-width:2" />

    </svg>



    <script type="text/javascript">
    	
        // create empty array radii
        var radii = [];
            // push api radii into radii array
            <% @exo.each do |x| %>
                radii.push(<%= x['RPLANET'] %>);
            <% end %>

        // create empty array temp
        var temp = [];
        // push api temperature into temp array
        <% @exo.each do |x| %>
            temp.push(-<%= x['TPLANET'] %> + 1000);
        <% end %>

        // console.log(temp);

        var year = [d3.rgb(255, 13, 255), d3.rgb(232, 12, 122), d3.rgb(0, 255, 127), d3.rgb(220, 165, 255)]

        // create variable svg = svg
        var svg = d3.select('svg');

        svg.selectAll("circle").data(radii)

        .enter().append("circle")

            // assign radius to radii
            .attr("r", function(d) {
                return d;
            })

            // assign height to temperature
            .attr("cy", function(d,i) {
                return temp[i];
            })

            .attr("cx", function(d, i) {

                return i;
            })

            .attr("fill", function(d, i) {
                return year[i % 4];
            });




    </script>


</body>