<body id="exoplanets">

    <svg height="800" width="1440">

  <ellipse cx="700" cy="712" rx="1" ry="1"
  style="fill:white;stroke:white;stroke-width:2" />

    </svg>

    <p id="earth">Earth</p>

    <script type="text/javascript">
    	
        // create empty array radii
        var radii = [];
            // push api radii into radii array
            <% @exo.each do |x| %>
                radii.push(<%= x['RPLANET'] %>);
            <% end %>

        // create empty array temp
        var temp = [];
        // push api temperature into temp array
        <% @exo.each do |x| %>
            temp.push(-<%= x['TPLANET'] %> + 1000);
        <% end %>

        // console.log(temp);

        var yearColor = [d3.rgb(255, 13, 255), d3.rgb(232, 12, 122), d3.rgb(0, 255, 127), d3.rgb(220, 165, 255)];

        // create empty array year
        var year = [];
        // push orbital period absolute value into year
        <% @exo.each do |x| %>
            // every second is one Earth year
            year.push(Math.abs(<%= x['PER'] %>) * 1000);
        <% end %>

        console.log(year);

        // Make an array of indices to assign to planet ids
        var planetNum = [];
        <% @exo.each_index do |z| %>
            planetNum.push(<%= z %>);
        <% end %>

        // console.log(planetNum);



        // create variable svg = svg
        var svg = d3.select('svg');

        svg.selectAll("circle").data(radii)

        .enter().append("circle")

            // assign radius to radii
            .attr("r", function(d) {
                return d;
            })

            // assign height to temperature
            .attr("cy", function(d,i) {
                return temp[i];
            })

            .attr("cx", function(d, i) {

                return (i * 1.3);
            })

            .attr("fill", function(d, i) {
                return d3.rgb(235, Math.random() * 255, Math.random() * 255);
            })

            .attr("id", function(d, i) {
                return "planet" + i;
            });

        // for each planet index
        planetNum.forEach(function(z){

        // create a unique interval
        setInterval(function(d, i){

            // select each planet id individually
            svg.select("#planet" + z).attr("fill", function(d, i){
                return d3.rgb(235, Math.random() * 255, Math.random() * 255);
            });
        }, year[z])

        });





    </script>


</body>