<body id="floor">

    <div id="floor_head">
        <h1 class="call_friends" id="call_big">Call in Fireflies</h1>
        <h2 class="call_friends">and they'll tell you about nearby asteroids</h2>
    </div>	

<!--     Button to bring in firefly D3 -->
    <div id="button_d"><%= link_to '<button type="button" class="call_button">Call</button>'.html_safe, asteroids_path, :class => "call_button_text" %></div>



</body>

