/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';


$top: rgb(147, 43, 204);
$blockier: 'Marck Script', cursive;


html {

	height: 100%;
	width:100%;


	#user_header {

		position: fixed;
		top: 0px;
		right: 0px;

		.user_links {

			color: $top;
			text-decoration: none;
			font-family: $blockier;
			font-size: 16px;
			background-color: rgba(255, 255, 255, .7);
			text-align: center;
			padding: 10px 10px 20px 10px;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			border: 0px;

		}

		.user_links:active {

			color: rgb(232, 12, 122);

		}

		.user_links:hover {

			background-color: white;


		}

		.right_links {

			display: inline-block;

		}


	}

	#path_header {

		position: fixed;
		top: 0px;
		left: 0px;

		.left_links {

			display: inline-block;

		
			.path_links {

				color: $top;
				text-decoration: none;
				font-family: $blockier;
				font-size: 16px;
				background-color: yellow;
				text-align: center;
				padding: 10px 10px 20px 10px;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				border: 0px;

			}

			.path_links:hover {

				background-color: white;

			}


			.path_links:active {

				color: rgb(232, 12, 122);

			}


		}

	}

}