#floor {

	height: 100%;
	width: 100%;

	background-image: url(image_path('Yakushima_Forest.jpg'));
	background-size: cover;
	background-repeat: no-repeat;

}


#asteroids {

    height: 100%;
    width: 100%;

    background-image: url(image_path('Yakushima_Forest.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
    
}
