$moss: rgb(45, 64, 37);
$script: 'Bilbo Swash Caps', cursive;
$top: rgb(147, 43, 204);
$blockier: 'Marck Script', cursive;

// Style root page
#floor {

	height: 100%;
	width: 100%;
	background-image: url(image_path('Yakushima_Forest.jpg'));
	background-size: cover;
	background-repeat: no-repeat;

	#floor_head {

		height: 20%;
		width: 50%;
		background-color: rgba(255, 255, 255, .6);
		margin: 18% auto 0% auto;
		border-radius: 20px;
		border: 2px solid $moss;
		padding: 30px;

		.call_friends {

			color: $moss;
			text-align: center;
			font-family: $script;
			font-size: 40px;

		}

		#call_big {

			font-size: 70px;
			margin: 10px;

		}

	}

		#button_d {

			width: 10%;
			margin: 57px auto;

			.call_button {

				display: inline;
				background-color: rgba(255, 255, 255, .8);
				border-radius: 20px;
				border: 1px solid $moss;
				margin: 0px auto;
				padding: 5px 30px;
				
			}

			.call_button:hover {

				background-color: white;
				border: 1px solid $top;
			}

			.call_button_text {

				color: yellow;
				font-size: 30px;
				font-family: $blockier;
				text-decoration: none;

			}

			.call_button_text:hover {

				color: $top;

			}

			.call_button_text:active {

				color: rgb(232, 12, 122);

			}

		}

}

// Style asteroids page
#asteroids {

    height: 100%;
    width: 100%;
    background-image: url(image_path('Yakushima_Forest.jpg'));
    background-size: cover;
    background-repeat: no-repeat;

    #mimic {

    	font-family: $script;
    	color: white;
    	text-align: center;
    	font-size: 70px;
    	margin: 0px auto;

    }
    
}
