// style night_sky/ page

$violet: rgb(255, 15, 255);
$teal: rgba(0, 108, 127, 1);
$script: 'Bilbo Swash Caps', cursive;
$fancy: 'Niconne', cursive;
$blockier: 'Marck Script', cursive;


#sky {

	height: 100%;
	width: 100%;
	background-image: url(image_path('space_purple.jpg'));
	background-size: cover;
	background-repeat: no-repeat;

	// div around headline
	#sky_head {

		height: 10%;
		width: 50%;
		background-color: rgba(255, 255, 255, .5);
		margin: 18% auto 0% auto;
		border-radius: 20px;
		border: 2px solid $teal;
		
		// "Find A New Home"
		.home_world {

			color: $teal;
			text-align: center;
			font-family: $fancy;

		}

		h1.home_world {

			font-size: 70px;
		}

		h2.home_world {

			font-size: 40px;

		}

	}



}

#exoplanets {

	height: 100%;
	width: 100%;
	background-image: url(image_path('space_purple.jpg'));
	background-size: cover;
	background-repeat: no-repeat;


}