// style night_sky/ page

$violet: rgb(255, 15, 255);
$teal: rgba(0, 108, 127, .7);

#sky {

	height: 100%;
	width: 100%;
	background-image: url(image_path('space_purple.jpg'));
	background-size: cover;
	background-repeat: no-repeat;

	// div around headline
	#sky_head {

		height: 10%;
		width: 50%;
		background-color: $teal;
		margin: 18% auto 0% auto;
		border-radius: 20px;
		border: 2px solid $violet;

		// "Find A New Home"
		.home_world {

			color: $violet;
			text-align: center;

		}

	}

	#sky_bar {

		background-color: $teal;
		border: 2px solid $violet;

	}

}

#exoplanets {

	height: 100%;
	width: 100%;
	background-image: url(image_path('space_purple.jpg'));
	background-size: cover;
	background-repeat: no-repeat;


}