// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$comets: rgb(255, 13, 255);
$exoplanets: rgb(232, 12, 122);
$rockets: rgb(0, 255, 127);
$asteroids: rgb(220, 165, 255);


#user_page {

	height: 100%;
	width: 100%;
	background-image: url(image_path('forest-creek.jpg'));
	background-size: cover;
	background-repeat: no-repeat;

	#outer_fairy {

		width: 70%;
		height: 60px;
		margin: 0px auto;
		display: block;

	#fairy_button {

		width: 568px;
		// position: fixed;
		bottom: 10px;
		display: block;
		margin: 0px auto;

		form { 

			display:inline-block;

			.realm_button {

				background-color: rgba(255, 255, 255, .8);
				padding: 10px 20px;
				border-radius: 5px;
				// margin: 0px 25px;
				

			}

			#exo_b {

				color: white;
				background-color: rgba(232, 12, 122, .5);
				border: 2px solid white;

			}

			#com_b {

				color: white;
				background-color: rgba(255, 13, 255, .5);
				border: 2px solid white;
				// margin: 0px auto;
			} 

			#roc_b {

				color: white;
				background-color: rgba(0, 255, 127, .5);
				border: 2px solid white;
				// margin: 0px auto;
			} 

			#ast_b {

				color: white;
				background-color: rgba(220, 165, 255, .6);
				border: 2px solid white;
			}  

		}

	}

}

}

