// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$comets: rgb(255, 13, 255);
$stars: rgb(232, 12, 122);
$rockets: rgb(0, 255, 127);
$asteroids: rgb(220, 165, 255);


#user_page {

	height: 100%;
	width: 100%;
	background-image: url(image_path('forest-creek.jpg'));
	background-size: cover;
	background-repeat: no-repeat;

}